.error_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin-top: 16px;
	overflow: hidden;
	position: relative;
	padding: 16px 0px;
}

.error_container .error_message p {
	color: #383a41;
	text-align: center;
	max-width: 100% !important;
	white-space: break-spaces;
}

.error_img {
	width: 26%;
	max-width: 186px;
	height: 138px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}
.error_container img {
	width: 120px;
	height: 120px;
	animation: up 3.8s ease infinite;
}

.error_message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

@keyframes up {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@media screen and (max-width: 768px) {
	.error_container {
		flex-direction: column;
	}
}
